/* Page 1 Преимущества */

.advantages {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and(min-width:1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.advantages__list {
  @extend %centeredFlex;
  align-items: center;
  text-align: center;
  width: 100%;

  @media screen and (max-width: 767px) {
    flex-direction: column;
  }

  @media screen and (max-width: 1199px) {
    flex-wrap: wrap;
  }
}

.advantage__item {
  display: block;

  &::before {
    content: '';
    display: block;
    height: 120px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: $buttonWhite;
    padding-right: 0;
  }

  @media screen and (max-width: 767px) {
    width: 100%;

    &:not(:first-child) {
      margin-top: 30px;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 354px;
    &:nth-child(2) {
      margin-top: 0px;
    }

    &:nth-child(2n) {
      margin-left: 30px;
    }

    &:nth-child(n + 3) {
      margin-top: 30px;
    }
  }

  @media screen and (min-width: 1200px) {
    width: 270px;
    padding-right: 0px;

    & + & {
      margin-left: 30px;
      margin-right: 0px;
    }
  }
}

@each $iconsName in $icons {
  .icon-#{$iconsName}::before {
    background-size: 66px 70px;
    background-image: url(../images/svg/#{$iconsName}.svg);
  }
}

.advantages__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 0px;

  @media screen and (min-width: 768px) {
    text-align: left;
  }
}
.advantages__text {
  width: 100%;
  line-height: 1.71;
  color: $greyColor;
  margin-top: 10px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  text-align: left;
}
