/* Page 1 Преимущества */

.advantages {
  padding-top: 60px;
  padding-bottom: 60px;
}

.advantages__list {
  @extend %centeredFlex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
}

.advantage__item {
  display: block;
  width: 100%;

  &:not(:first-child) {
    margin-top: 30px;
  }

  &::before {
    content: '';
    display: block;
    height: 120px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: $buttonWhite;
    padding-right: 0;
  }
}

@each $iconsName in $icons {
  .icon-#{$iconsName}::before {
    background-size: 66px 70px;
    background-image: url(../images/svg/#{$iconsName}.svg);
  }
}

.advantages__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 0px;
}
.advantages__text {
  width: 100%;
  line-height: 1.71;
  color: $greyColor;
  margin-top: 10px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  text-align: left;
}
