/* ===Clients Icons== */

.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}

.clients__title {
  @extend %titleStyle;
}

.clients__list {
  @extend %centeredFlex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 450px;
  margin-top: 0px;
  @extend %marginCentered;
}

.clients__link {
  @extend %centeredFlex;
  align-items: center;
  height: 92px;
  width: 210px;
  border: 1px $LinkColor solid;
  border-radius: 4px;
  color: $LinkColor;
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border-color: $blueColor;
    color: $blueColor;
  }
}

.clients__member:nth-child(n + 3) {
  margin-top: 30px;
}

@media screen and (max-width: 449px) {
  .clients__member:nth-child(2) {
    margin-top: 30px;
  }
}

.clients__icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}
