/*================================ Page Portfolio Фильтр =============================================*/

.content {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.filter {
  @media screen and (max-width: 767px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    min-width: 320px;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-top: auto;
  }
}

.filter__button {
  font-family: $mainFont;
  background-color: $buttonWhite;
  color: $blackColor;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  padding: 6px 22px 6px 22px;
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: $blueColor;
    color: $whiteColor;
  }
}

.filter__item + .filter__item {
  margin-left: 8px;

  @media screen and (max-width: 767px) {
    &:nth-child(4) {
      margin-left: 0px;
    }

    &:nth-child(n + 4) {
      margin-top: 15px;
    }
  }

  @media screen and (max-width: 381px) {
    &:nth-child(3) {
      margin-top: 15px;
      margin-right: 15px;
      margin-left: 0px;
    }

    &:nth-child(5) {
      margin-left: 0px;
    }
  }
}
