/*  ====Header==== */

header {
  border-bottom: solid 1px #ececec;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  @media screen and (max-width: 767px) {
    width: 480px;
  }

  @media screen and (max-width: 1199px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

.header {
  //@extend %centeredFlex;
  //align-items: center;
}

/* Навигация */

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__menu {
    display: block;
    width: 40px;
    height: 40px;
  }
}

.navigation__list {
  //display: flex;
}

.navigation__link {
  //position: relative;
  //display: block;
  text-decoration: none;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  color: $blackColor;
  // @include transitionStyle;

  &:hover,
  &:focus {
    color: $blueColor;
  }

  &--current {
    color: $blueColor;
  }
}

@media screen and (max-width: 767px) {
  .auth__icon {
    display: none;
  }
}
