/* =======MODAL======= */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  @include transitionStyle(opacity);
  pointer-events: initial;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  @include transitionStyle(opacity);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.8);
  @include transitionStyle(transition);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(100% - 30px);
  max-width: 450px;
  height: auto;
  padding: 40px;
  transform: translate(-50%, -50%) scale(1);
  @include transitionStyle(transition);
  background-color: $whiteColor;
}

.close {
  position: absolute;
  top: 8px;
  right: 8px;
  @extend %centeredFlex;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: $whiteColor;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: $roundBorder;
  padding: 0px;
  cursor: pointer;
  @include transitionStyle(fill);

  &:focus,
  &:hover {
    fill: $blueColor;
    @include transitionStyle(fill);
  }
}

/* =======MODAL FORM FIELD======= */

.order-service-form {
  @extend %centeredFlex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.form__titel {
  width: 100%;
  padding: 0;
  margin: 0;
  margin-bottom: 12px;
  font-family: $mainFont;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
}

.form-field:nth-child(-n + 4) {
  position: relative;
  width: 100%;
  margin-bottom: 10px;
}

.form-label {
  display: block;
  width: 100%;
  margin-bottom: 4px;
  font-family: $mainFont;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  color: $greyColor;
}

.form-icon {
  position: absolute;
  bottom: 11px;
  left: 12px;
  @include transitionStyle(fill);

  .form-input:focus ~ & {
    fill: #2196f3;
    @include transitionStyle(fill);
  }
}

.form-input {
  width: 100%;
  height: 40px;
  font-family: $mainFont;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  color: rgba(117, 117, 117, 0.5);
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 42px;
  cursor: pointer;
  outline: transparent;
  @include transitionStyle(border);

  &:focus {
    border: #2196f3 1px solid;
    @include transitionStyle(border);
  }
}

.form-field__comment {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}

.comment {
  resize: none;
  width: 100%;
  padding: 12px 16px;
  font-family: $mainFont;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  color: rgba(117, 117, 117, 0.5);
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
  outline: transparent;
  @include transitionStyle(border);

  &:focus {
    border: #2196f3 1px solid;
    transition-property: border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.form-field__agree {
  position: relative;
  width: 100%;
}

.checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}

.agree-label {
  display: flex;
  align-items: center;
  margin-left: 24px;
  font-family: $mainFont;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  color: $greyColor;
  text-align: center;
  cursor: pointer;
}

.checkbox-custom {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 16px;
  height: 16px;
  background-color: $whiteColor;
  border: 2px solid $blackColor;
  border-radius: 2px;

  .checkbox:checked + & {
    background-color: $blueColor;
    background-image: url(../images/svg/vector.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-origin: border-box;
    border-color: $blueColor;
  }
}

.agree__link {
  margin-left: 5px;
  color: $blueColor;
  text-decoration: underline;
}

.submit {
  @extend %centeredFlex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: $whiteColor;
  width: 200px;
  height: 50px;
  margin-top: 30px;
  padding: 0;
  font-family: $mainFont;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}
