$mainFont: Roboto;
$secondaryFont: Raleway;

$blackColor: #212121;
$blueColor: #2196f3;
$greyColor: #757575;
$whiteColor: #ffffff;
$buttonWhite: #f5f4fa;
$LinkColor: #afb1b8;
$footerBackground: #2f303a;
$borderColor: #ececec;
$roundBorder: 50%;
