%centeredFlex {
  display: flex;
  justify-content: center;
}

%marginCentered {
  margin-left: auto;
  margin-right: auto;
}

%titleStyle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 50px;
}

%containerStyle {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
