%centeredFlex {
  display: flex;
  justify-content: center;
}

%marginCentered {
  margin-left: auto;
  margin-right: auto;
}

%titleStyle {
  font-weight: 700;
  line-height: 1.17;
  text-align: center;
  margin-top: 0px;

  @media screen and (max-width: 1199px) {
    font-size: 28px;
    margin-bottom: 30px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 36px;
    margin-bottom: 50px;
  }
}
