ul {
  margin: 0;
  padding-left: 0px;
  list-style-type: none;
}

body {
  font-family: $mainFont;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: $blackColor;
}

button {
  padding: 0;
}
